<div class="form-group">
  <label class="col-md-3 control-label">Fish</label>
  <div class="col-md-6">
    <select class="form-control" onchange={{action (mut specie) value="target.value"}}>
      {{#each options as |fishChoice|}}
        <option value={{fishChoice}}>{{fishChoice}}</option>
      {{/each}}
    </select>
  </div>
</div>
