<header id="fyb-header">
  <div class="container">
    <div class="row">
      <div class="column text-center">
        {{#link-to 'login'}}
          Sign In / Sign up
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column pull-left">
        <a href="index.html">
          <img alt="FYB" width="200" height="100" src="images/logo.svg">
        </a>
      </div>
      <div class="column pull-right">
        <nav>
          <ul id="mainNav">
            <li>
              {{#link-to 'entries'}}
              All Entries
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'my-entries'}}
              My Entries
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'add-entry'}}
              Add an Entry
              {{/link-to}}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
