<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 140, "stickySetTop": "-140px"}'>
  <div class="header-body">
    <div class="header-top">
      <div class="container">
        <div class="header-sign-in pull-right">
          <a href="index.html">
            Sign In / Sign up
          </a>
        </div>
      </div>
    </div>
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column header-column-center">
          <div class="header-logo">
            <a href="index.html">
              <img alt="Porto" width="111" height="54" src="img/logo.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
