<li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
  <div class="portfolio-item">
    <span class="thumb-info thumb-info-lighten thumb-info-bottom-info thumb-info-centered-icons">
      <span class="thumb-info-wrapper">
        <img src="{{photo.path}}" class="img-responsive" alt="">
      </span>
    </span>
  </div>
</li>
