<label class="col-md-3 control-label" >{{title}}</label>
<div class="col-md-6">
  <div class="btn-group" role="group" aria-label="...">
    {{#each buttons as |button index|}}
      <button
        type="button radio"
        class="btn btn-default"
        value={{button.value}}
        type="submit"
        {{action 'selectionChanged' button.value}}
        autofocus>
      {{button.label}}
      </button>
    {{/each}}
  </div>
</div>
