<label class="col-md-3 control-label" >{{title}}</label>
<div class="col-md-6">
  <div class="btn-group" role="group" aria-label="...">
    {{#each options as |option|}}
      <button
        type="button radio"
        class="btn btn-default"
        value={{option.value}}
        type="submit"
        {{action (action onChange) option.value}}
        autofocus>
      {{option.label}}
      </button>
    {{/each}}
  </div>
</div>
