h1 {
  font-family: 'Montserrat' !important;
  font-style: normal;
  font-weight: 700;
}

h2, h3, h4 {
  font-family: ‘Montserrat’, Arial, serif;
  font-weight: 400;
}

/* app specific */
h1.fyb-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fish-left, .fish-right{
  margin-bottom: 15px;
}

.g-map-canvas {
  width: 600px;
  height: 400px;
}
