html {
  direction: ltr;
  overflow-x: hidden;
}

body {
  background-color: @color-white;
  color: #777;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  overflow-x: hidden;
}

body a {
  outline: none !important;
}

li {
  line-height: 24px;
}

/* Body */
@media (max-width: 991px) {
  body > .body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
