@desktop-min-width-breakpoint: 1200px;
@desktop-container-width: 1170px;

@tablet-min-width-breakpoint: 992px;
@tablet-container-width: 970px;

@phone-min-width-breakpoint: 768px;
@phone-container-width: 750px;

@color-white: #FFF;
@color-dark-blue: #0088cc;
@color-black: #333;
