<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>{{#link-to 'application'}}Home{{/link-to}}</li>
          <li>{{#link-to 'entries'}}Entries{{/link-to}}</li>
          <li class="active">New Entry</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Tight Lines!</h1>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <h2>Record a Catch</h2>
      </section>

      {{new-entry-form}}

    </div>
  </div>
</div>
