<!-- app/templates/application.hbs -->
<header>
  <div class="container-fluid">
    <h1 class="col-md-12 fyb-heading text-center">FYB</h1>
  </div>
</header>

<nav>
  {{#if session.isAuthenticated}}
    <p>Logged in as <b>{{session.currentUser.email}}</b></p>
    <p>
      <a class="btn btn-default btn-lg" type="submit"
       {{action 'logout'}}>
        <b>Logout</b>
      </a>
    </p>
  {{else}}
    <p>Not logged in.</p>
  {{/if}}
</nav>

<!-- Anything placed in the application template will be application-wide -->
{{outlet}}

<footer>
  <div class="panel panel-default">
    <div class="panel-body">
      &copy;fyb 2016.
    </div>
  </div>
</footer>
