<!-- app/templates/application.hbs -->
<div class="container">
  <div class="col-md-12">
    <div class="page-header">
      <h1><small>Journal Entry for : </small> {{entry.date}}</h1>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{link-to "Fishes" "fishes"}}</li>
        <li>{{link-to "Dates" "dates"}}</li>
        </ul>
      </div>
    </nav>
    {{outlet}}
  </div>
</div>
