<!-- app/templates/application.hbs -->
<div class="container-fluid">
  <h1 class="col-md-12 fyb-heading text-center">FYB</h1>
  <!-- Anything placed in the application template will be application-wide -->
  {{outlet}}
</div>
