<!-- app/templates/application.hbs -->
<header>
  <div class="container-fluid">
    <h1 class="col-md-12 fyb-heading text-center">FYB</h1>
  </div>
</header>

<!-- Anything placed in the application template will be application-wide -->
{{outlet}}

{{#if toriiSession.isAuthenticated}}
  Logged in as <b>{{session.currentUser.email}}</b> <a {{ action 'invalidateSession' }}>Logout</a>
{{/if}}

<footer>
  <div class="panel panel-default">
    <div class="panel-body">
      &copy;fyb 2016.
    </div>
  </div>
</footer>
