<h2>Times</h2>
<div class="row">
  <div class="row list-wrapper">
    <ul class="list-group">
      {{#each fish in model.fishes}}
        <li class="list-group-item">{{fish.species}} ({{fish.weight}}) at {{fish.time}}.</li>
      {{/each}}
    </ul>
  </div>
</div>
