  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li>{{#link-to 'application'}}Home{{/link-to}}</li>
            <li>{{#link-to 'entries'}}Entries{{/link-to}}</li>
            <li class="active">{{model.catch.id}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>It's a Catch!</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <h2>{{formatted-date model.catch.caught 'short'}}</h2>
    <hr>
  </div>

  {{entry-summary model=model}}

{{outlet}}
