<div role="main" class="main">

  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Entries</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Hooked!</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <h2>See what people have caught</h2>

    <hr>

    <div class="row">
      <div class="col-md-9">
        <ul class="portfolio-list sort-destination lightbox" data-sort-id="portfolio" data-plugin-options='{"delegate": "a.lightbox-portfolio", "type": "image", "gallery": {"enabled": true}}'>
          {{#each model.entries as |entry|}}
            {{portfolio-entry catch=entry}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-3">
        {{entries-sidebar
          onFishSelected=(route-action 'fishSelected')
          freshwaterSpecies=model.freshwaterSpecies}}
      </div>

    </div>

  </div>

</div>
