<!-- /journals -->
<div class="row">
  <div class="row list-wrapper">
    <ul class="list-group">
      {{#each journal in model}}
        <em><li class="list-group-item">{{journal.year}}></li></em>
      {{/each}}
</ul> </div>
11 </div>
