<!-- /journals -->
<div class="row">
  <div class="row list-wrapper">
    <ul class="list-group">
      {{#each journal in model}}
      <em><li class="list-group-item">Journal for <strong>{{journal.year}}</strong></li></em>
      {{/each}}
    </ul>
  </div>
</div>
