<!-- /journals -->
<div class="col-md-4">
  <div class="list-group">
    {{#each model as |journal|}}
      {{#link-to "journal.entries" journal class="list-group-item journal-link"}}
        {{journal.date}} (journal id: {{journal.id}})
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
